//
// Variables
//
$color-carnation-red: #f35656;
$color-persian-red: #cc3333;
$color-sky-blue: #80daeb;
$color-paradiso-blue: #3a92a0;

//
// Mixins
//
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

//
// Rules
//
html {
  font-size: 100%;
}

a, a:link, a:visited {
  text-decoration: none;
}

body {
  background: #b0b0b0;
  font-family: 'Convergence', sans-serif;
}

.container-fluid {
  max-width: 1600px;
}

.section-intro {
  padding-bottom: 0;
  background: #c7c7c7;
  background: linear-gradient(to bottom, #2f2f2f 0%, #797979 100%);


  .pad-top{
    padding-top: 5rem;
  }

  h1 {
    color: #efefef;
    font-family: 'Marcellus', sans-serif;
    font-size: 3.5rem;
    margin: 0;
    @media only screen and (min-width: 48em) {
      font-size: 5rem;
    }
  }

  h2 {
    color: $color-carnation-red;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
    color: #DDD;
    font-family: 'Marcellus', sans-serif;
  }

  svg.icon {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: opacity 250ms;

    &:hover {
      opacity: unset;
    }
  }

  .grass {
    background: url('../static/grass.png') bottom repeat-x;
    max-width: unset;
  }
}

.section-button {
  padding: 2rem;
  background-color: $color-paradiso-blue;

  button {
    border: 1px solid #e9fcff;
    background-color: transparent;
    color: #e9fcff;
    padding: 1rem;
    transition: all 250ms;
    font-family: 'Marcellus', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      background-color: #e9fcff;
      color: $color-paradiso-blue;
    }
  }
}

.section-projects {
  padding: 2rem;
  background: url('../static/black_lozenge.png'), #1E1E1E;

  h1 {
    color: $color-persian-red;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  article {
    padding: 2rem 0;

    figure {
      @include aspect-ratio(16,9);
      margin: 0;
      padding: 0;

      .content {
        overflow: hidden;
      }
    }

    h1 {
      color: #d0d0d0;
      font-size: 2rem;
      font-family: 'Marcellus', sans-serif;

      button {
        font-size: 0.85rem;
        border: 2px solid #333;
        color: #666;
        padding: 0.25rem;
        background-color: transparent;

        &:hover {
          color: $color-persian-red;
          border-color: $color-persian-red;

          svg {
            fill: $color-persian-red;
          }
        }
      }

      svg {
        width: 16px;
        height: 16px;
        fill: #666;
        vertical-align: text-top;
      }

      a {
        font-family: 'Convergence', sans-serif;
        font-size: 1rem;
        vertical-align: middle;
      }
    }

    .tags {
      border-bottom: 0.25rem solid $color-persian-red;
    }

    .tag {
      display: inline-block;
      padding: 0.75rem;
      color: $color-sky-blue;
    }

    p {
      color: #b0b0b0;
    }
  }
}

.section-skills {
  padding: 2rem;
  background: url("../static/norwegian_rose.png"), #dadada;

  h1 {
    color: $color-persian-red;
    font-family: 'Marcellus', sans-serif;
  }

  .sub-section {
    padding-top: 1rem;
    padding-bottom: 3.5rem;
  }

  .grid {
    ul {
      margin: 0;
      padding: 0;
    }

    .card {
      display: inline-block;
      background-color: #322c34;
      margin: 0.1rem;
      padding: 0;


      @media only screen and (min-width: 75em) {
        margin: 0.5rem;
      }

      span {
        display: inline-block;
        color: $color-sky-blue;
        font-size: 1rem;
        margin: 0.75rem;

        @media only screen and (min-width: 75em) {
          margin: 1rem;
          font-size: 2rem;
        }
      }
    }
  }
}

.section-bio {
  padding: 2rem;
  background: #614385;
  background: linear-gradient(to left, #614385 , #516395);

  h1 {
    color: white;
    font-family: 'Marcellus', sans-serif;
  }
  
  p {
    color: #cccccc;
  }
}